.sidebar {
  position: fixed;
  top: 55px;
  left: 0;
  bottom: 0;
  width: 80px;
  z-index: 2000;
  background-color: white;
}

.links {
  height: 76px;
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  cursor: pointer;
  margin: 5px;
  transition: 0.5s;
}

.links:hover {
  background-color: rgb(235, 235, 235);
}

.links img {
  height: 24px;
  margin-bottom: 4px;
}

.links div {
  font-size: 10px;
}
