:root {
    --background: #faeee7;
    --main: #fffffe;
    --primary-text: #33272a;
    --secondary-text: #594a4e;
    --highlight: #ff8ba7;
    --secondary: #ffc6c7;
    --tertiary: #c3f0ca;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--background);
}

header {
    width: 100%;
    min-height: 100vh;
}

nav {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 1550px;
    height: 70px;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary);
    border-radius: 999px;
    z-index: 1000;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

/* Navbar */

nav .links {
    display: flex;
    gap: 3rem;
    list-style: none;
}

.logo a {
    color: var(--primary-text);
}

.logo a span {
    color: white;
}

.links li a {
    color: var(--primary-text);
    font-size: 18px;
    font-weight: 600;
}

/* Hero-section */
.hero-section {
    padding: 0 10%;
    height: 100vh;
}

.slide-content {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.slide-content .info p {
    font-size: 36px;
    font-weight: 600;
    max-width: 600px;
}

.slide-content .info h1 {
    font-size: 5rem;
    line-height: 6rem;
    margin-bottom: 3rem;
    max-width: 800px;
}

.slide-content .info h1 span {
    color: var(--highlight);
}

.slide-content .info p:nth-child(3) {
    font-size: 28px;
    font-weight: 500;
}

.info .learn-more {
    width: 230px;
    height: 80px;
    border: none;
    background-color: var(--highlight);
    border-radius: 999px;
    color: var(--main);
    font-size: 22px;
    font-weight: 600;
    margin-top: 4rem;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.img img {
    height: 800px;
}

.slider-container {
    position: relative;
    height: 100vh;
}

.slider-item {
    position: absolute;
    inset: 0;
    opacity: 0;
    height: 100vh;
    transition: opacity 1s ease-in-out;
    pointer-events: none;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slider-item.active {
    opacity: 1;
    pointer-events: auto;
}

.slider-dots {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 12px;
    z-index: 10;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--secondary);
    cursor: pointer;
    transition: transform 0.3s, background 0.3s;
}

.dot.active {
    background: var(--highlight);
    transform: scale(1.4);
}
